.homebody{
    background-image: url("https://media.istockphoto.com/photos/black-grey-wooden-plank-wall-texture-background-old-natural-pattern-picture-id1321288902?k=20&m=1321288902&s=612x612&w=0&h=DXcFJlQyjX8BeSzj67BVw6DLLXutg_SsjVxp1jTvBvU=");
    background-position: center center; 
    background-size:auto;
    padding-bottom: 2%;
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
    background-image: url("https://mcdn.wallpapersafari.com/medium/34/15/usxQvS.jpg");
    background-size:cover
  }