.detailall{
    background-image: url("https://www.trinity.ox.ac.uk/sites/default/files/styles/banner_1920x1280_/public/2020-10/old_library_south.jpg?h=6ec068e9&itok=SqT5InpL");
    height:1000px;
    top:0px;
    left:0px;
    min-width: 100%;
    min-height: 100%;

    
}
.Cuerpo{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contenedor{

    background-image: url("https://i.pinimg.com/564x/df/7f/4c/df7f4c51df5edae3e9bf78fef81f4000.jpg");
    background-size:cover;
    margin: top 3%;;
    border-width: 5%;
    padding-top: 3%;
   padding-bottom: 3%;
   padding-left: 3%;
   padding-right: 3%;
    max-width: 700px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.imgdetail2{
    filter: sepia(100%);
    width:300px;
}

.imgdetail3{
    filter: sepia(50%);
    width:500px;
}
.inputs{
  
    border-color: rgba(0, 0, 0, 0.253) ;
    background-color: transparent;


}